<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>General data:</h3>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>  
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :type_id %>
    <%= collection_select(:type, :type_id, @types, :id, :name, {:prompt => "Select a type", :selected => "", :disabled => ""}, {:id => "type_option"}) =%>
  </div>

  <h3>Add Variants:</h3>

  <div class="variant_fields_wrapper">
    <div class="variant_field">
      <%= form.label :color_id %>
      <%= collection_select(:color, :color_id, [], :id, :name, {:prompt => "Select a color" }, {:id => "color_option"}) =%>
    </div>

    <div class="variant_field field">
      <%= form.label :size_id %>
      <%= collection_select(:size, :size_id, [], :id, :name, {:prompt => "Select a size"}, {:id => "size_option"}) =%>
    </div>
 
    <button type="button" class="add_button">Add variant</button>
  </div>
  

  <%= javascript_include_tag :products =%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
