<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Type:</strong>
  <%= @product.type.name %>
</p>

<div class="variants-container">
  <div class="row-item">
      <p>Color</p>
      <p>Size</p>
    </div>
  <% @product.product_variants.each do |variant| %>
    <div class="row-item">
      <p><%= variant.color.name =%></p>
      <p><%= variant.size.name =%></p>
    </div>
  <% end %>
</div>


<%= link_to 'New Product', new_product_path() %> |
<%= link_to 'Back', products_path %>
